.BuyMeaCoffee {
  font-size: 12px;
}

.article {
  display: block !important;
  margin-top: 100px;
}

@media (max-width: 1023px) {
  .pc {
    display: none;
  }

  .article {
    margin-top: 0;
  }
}
