.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 28px;
}

@media (max-width: 640px) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
