.Article_content__m_nzR ul {
  background-color: #eaf4fc;
  padding: 30px 0 30px 50px;
  margin: 0 !important;
  margin-top: 24px !important;
}

a strong {
  color: #3b82f6;
}
a {
  text-decoration: none !important;
}
a strong:hover {
  color: #2563eb;
}

.Article_content__m_nzR th {
  background-color: white !important;
}

.articleSidebar {
  margin-top: 60px;
}
