.footer {
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
  }

  .menu {
    text-align: center;
  }
}
