.date {
  display: flex;
  align-items: center;
  line-height: 16px;
  gap: 8px;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 15px !important;
  white-space: nowrap;
}

.updatedAt {
  margin-left: 0;
}

@media (max-width: 360px) {
  .date {
    gap: 6px;
    font-size: 13px !important;
  }
}
