.text {
  font-size: 12px;
  min-width: 0;
  max-width: 100%;
  padding: 0 12px;
}

.link {
  display: flex;
  max-width: 100%;
  min-width: 0;
  align-items: center;
  transition: transform 200ms;
}

.link:hover {
  transform: scale(1.05);
}

.label {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
