@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@900&family=Sedan+SC&family=Sora:wght@100..800&display=swap');

.ArticleList_main__4t9K_ {
  margin-top: 20px !important;
}

.ArticleList_main__4t9K_ {
  margin-left: 0 !important;
}

.Date_date__Jlt7B {
  justify-content: right;
}

/* 検索 */
.SearchField_search__ROj75 {
  margin: 0 !important;
}

@media (max-width: 768px) {
  /* フッター */
  .underLogo {
    display: flex;
    justify-content: center;
  }
  .footerMenu {
    text-align: center;
  }
  /* 目次 */
  .tableOfContent {
    width: 100%;
  }
  .ArticleListItem_content__MW0IH {
    max-width: 100% !important;
  }
  .hamburger {
    bottom: initial;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1) !important;
  }
}
@media (max-width: 882px) and (min-width: 641px) {
  .ArticleListItem_content__MW0IH {
    max-width: 45% !important;
  }
}
@media (max-width: 1322px) and (min-width: 882px) {
  .ArticleListItem_content__MW0IH {
    max-width: 45% !important;
  }
}

/* カテゴリーリストページ */
.categoryTitle ul li span {
  background-color: white;
  padding: 0;
  font-size: 30px;
  border-radius: 0;
  white-space: 0;
}

/* サイドバー */
.sidebar {
  padding-left: 0 !important;
}

/* タグリストページ */
.tagTitle div div {
  margin: 0;
}
.tagTitle p {
  margin: 0;
}
.tagTitle {
  margin-top: 100px !important;
}

/* 記事タイトル下部 */
.includeBanner {
  margin-top: 0 !important;
}

/* 記事写真 */
figure img {
  margin: auto;
}

h2 {
  background-color: #f3f3f3;
  padding: 15px 15px 15px 15px;
}
h3 {
  border: 1px solid lightgray;
  padding: 5px 15px 5px 15px;
  border-left: 5px solid lightgray;
}
a u {
  color: royalblue;
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --color-text-main: #333;
  --color-text-sub: #999;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #fafafa;
  --color-border-dark: #ccc;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: 'Sora', sans-serif !important; */
  font-family: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3',
    Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
