.container {
  padding-top: 89px !important;
}

@media (max-width: 640px) {
  .container {
    padding-top: 65px !important;
  }
}

:global(:root[data-app-webview='1']) .container {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
