.list {
  margin-bottom: 20px;
}

.date {
  display: flex;
  justify-content: right;
  margin-top: auto;
}

.link {
  display: flex;
  gap: 10px;
}

.image {
  height: auto;
  max-width: 300px;
}

.description {
  font-size: 14.5px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 1023px) and (min-width: 641px) {
  .image {
    height: auto;
    max-width: 300px;
  }

  .content {
    max-width: 100%;
  }
}

@media (max-width: 1081px) and (min-width: 1023px) {
  .image {
    height: auto;
    max-width: 250px;
  }

  .content {
    max-width: 100%;
  }
}

@media (max-width: 717px) and (min-width: 641px) {
  .image {
    height: auto;
    max-width: 200px;
  }

  .content {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .link {
    display: block;
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.4rem;
  }
}
