.container {
  max-width: 100%;
  min-height: 280px !important;
}

.adUnit {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 640px) {
  .container {
    min-height: 200px !important;
  }
}
